.body {
    font-family: Raleway, Arial, sans-serif;
    font-size: 18px;
    letter-spacing: 0.11px;
}

.header {
    padding-top: 92px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 96px;
    display: flex;
    align-items: center;
    width: 100%;
}

.header__menu {
    margin-right: 42px;
    margin-left: 27px;
}

.header__links-list {
    display: flex;
    gap: 32px;
}

.header__links-list-item {
    list-style: circle;
}

.header__links-list-item_no-bullet {
    list-style: none;
}

.header__link {
    text-underline-offset: 4px;
}

.header__link-selected {
    text-decoration: none;
}

.header__logo {
    max-width: 148px;
    max-height: 105px;
}

.header__logo-link {
    display: block;
}

.header__logo-img {
    width: 135%px;
    height: 104px;
}

.header__info {
    margin-right: 60px;
    display: flex;
    margin-left: auto;
    flex-direction: column;
    line-height: 135%;
}

.header__info-link {
    text-underline-offset: 4px;
}

.cover {
    background-image: url(./../images/cover.jpg);
}

.cover__title-container {
    display: flex;
    flex-direction: column;
    padding-top: 165px;
    padding-left: 50px;
    padding-right: 50px;

}

.cover__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.cover__title-span {
    color: white;
    font-weight: 700;
    font-size: 100px;
    line-height: 115px;
    text-transform: uppercase;
    letter-spacing: 30px;
}

.cover__title-span-first{
    align-self: flex-start;
}
.cover__title-span-middle{
    line-height: 95px;
}
.cover__title-span-last{
    align-self: flex-end;
    line-height: 105px;
}
.letter-spacing-extended{
    letter-spacing: 60px;
}
.letter-spacing-extended-end-first-letter{
    letter-spacing: 8px;
}
.letter-spacing-extended-end-middle{
    letter-spacing: 30px;
}
.letter-spacing-extended-end-last{
    letter-spacing: 0px;
}